@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<img src="Images/DogeCoin_Snipped_Square.jpg" asp-append-version="true" width="300" height="300" alt="Sample Photo" />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
